.promo {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    
}

.promo__img {
   background-image: url(../../images/mainpicture.png);
   background-position: center;
   background-repeat: no-repeat;
   margin-left: 174px;
   margin-right: 174px;
   position: relative;
   /*width: calc(100% - (174px + 174px));
   width: 1093px;*/
   max-width: 1093px;
   height: 543px;
   margin-bottom: 35px;
   object-fit: cover;
}

@media screen and (min-width: 1440px) {
    .promo__img{
        max-width: 100%;
    }
  }

  @media screen and (max-width: 1000px) {
    .promo__img{
        margin-left: 100px;
        margin-right: 100px;
        height: 480px;
    }
  }  
  
  @media screen and (max-width: 720px) {
    .promo__img{
        margin-left: 15px;
        margin-right: 15px;
        height: 450px;
    }
  }

.promo__sub-title {
   text-align: center;
   font-weight: 500;
   font-size: 24px;
   line-height: 28px;
   margin-top: 0;
   margin-bottom: 0;
   letter-spacing: 0.1em;
}

/*.promo__title {
    text-align: center;
    align-self: center;
    letter-spacing: 4em;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 70px;
    margin-left: 40px;
    font-style: normal;
    max-width: 100%;
}

@media screen and (max-width: 1100px) {
    .promo__title{
        font-size: 50px;
    }
  } 

  @media screen and (max-width: 800px) {
    .promo__title{

       font-weight: 400;
       font-size: 25px;
       line-height: 29px;
       letter-spacing: 3.94em;
    }
  }*/

  .promo__title-container {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
    margin-bottom: 50px;
  }

  .promo__title {
    margin: 0;
    font-weight: 400;
    font-size: 70px;
    line-height: 82px;
    font-style: normal;
}

@media screen and (max-width: 720px) {
    .promo__title{
       font-size: 25px;
       line-height: 29px;
    }
  }

.promo__btn-link {
    width: 182px;
    height: 48px;
    margin-right: 19px;
}  
/*
.promo__btn-link:last-of-type {
    margin-right: 0;
}*/

