.servicesList {
    max-width: 1033px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
    /*border: 2px solid palegreen;*/
    box-sizing: border-box;
}

@media screen and (min-width: 1441px) {
    .servicesList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1600px;
    }
}

@media screen and (max-width: 900px) {
    .servicesList {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 720px) {
    .servicesList {
        margin-left: 15px;
        margin-right: 15px;
    }
  }  

  @media screen and (max-width: 320px) {
    .servicesList {
        grid-template-columns: 1fr;
    }
  }  

.servicesList__item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
   /* min-height: 230px;*/
    justify-content: space-between;
}
.servicesList__item-pic {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    
}

.servicesList__item-pic-container {
    max-width: 333px;
    height: 333px;
    cursor: pointer;  
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1150px) {
    .servicesList__item-pic-container {
        height: 300px;
    }
}
 
@media screen and (max-width: 720px) {
    .servicesList__item-pic-container {
        height: 173px;
    }
  }

.servicesList__item-main-container {
    /*height: 83px;*/
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    justify-content: end;
}

.servicesList__item-title {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #181818;
}

@media screen and (max-width: 720px) {
    .servicesList__item-title {
        font-size: 10px;
        line-height: 12px;
    }
  }

.servicesList__item-price {
    margin: 0;
    margin-top: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #181818;
}

@media screen and (max-width: 720px) {
    .servicesList__item-price {
        font-size: 10px;
        line-height: 12px;
    }
}

.servicesList__item-wrapper {
    display: flex;
    justify-content: space-between;
}

.servicesList__item-add-btn {
    background-image: url(../../images/blackbag.png);
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    border: none;
    align-self: flex-end;
    margin-left: 10px;
    padding: 0;
    cursor: pointer;
}

.servicesList__item-add-btn:hover {
    opacity: 0.5;
}

.servicesList__item-down-container {
    display: flex;
    justify-content: space-between;
}
