.servicesNav {
    width: 287px;
    max-width: 287px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-top: 0;
    background-color: #DF5330;
}

.servicesNav__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    cursor: pointer;
    transition: opacity 1s;
}

.servicesNav__item:last-of-type {
    margin-bottom: 0;
}

.servicesNav__item:hover {
    opacity: 0.5;
    transition: opacity 1s;
}

.servicesNav__item-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
}