.popular-goods {
padding-left: 40px;
padding-right: 40px;
margin-top: 120px;
}

@media screen and (max-width: 720px) {
    .popular-goods {
        margin-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
  }

.popular-goods__title {
    font-weight: 500px;
    font-size: 24px;
    line-height: 28px;
    font-style: normal;
}

@media screen and (max-width: 720px) {
    .popular-goods__title {
        font-size: 18px;
        line-height: 21px;
    }
  }

.popular-goods__title-wrapper {
    display: flex;
    justify-content: space-between;
}

.popular-goods__btn {
    background-color: #DF5330;
    color: #fff;
    width: 170px;
    height: 39px;
    border: none;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 7px;
    padding: 0;
}

.popular-goods__btn:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

@media screen and (max-width: 720px) {
    .popular-goods__btn {
        width: 120px;
        height: 32px;
        font-size: 12px;
        line-height: 14px;
    }
  }

  .popular-goods__wrapper {
    max-width: 1360px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    grid-template-rows: auto;
    gap: 43px;
    padding: 0;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .popular-goods__wrapper {
        gap: 14px;
    }
  } 

.popular-goods__container {
    /*height: 504px;*/
    list-style-type: none;
}


/*
.popular-goods__wrapper {
    max-width: 1360px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: auto;
}

@media screen and (max-width: 900px) {
    .popular-goods__wrapper {
        flex-wrap: wrap;
    }
  } 

.popular-goods__container {
    width: 30%;
    height: 504px;
   
    list-style-type: none;
}

@media screen and (max-width: 900px) {
    .popular-goods__container {
        width: 300px;
        height: 450px;
        flex-wrap: wrap;
    }
  } 

  @media screen and (max-width: 720px) {
    .popular-goods__container {
        width: 173px;
        height: 250px;
        flex-wrap: wrap;
    }
  }
*/
.popular-goods__pic {
    width: 100%;
    height: 399px;
    /*background-color: #DF5330;
    background-image: url(../../images/fon.png);*/
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
}

@media screen and (max-width: 1150px) {
    .popular-goods__pic {
        height: 300px;
    }
}

@media screen and (max-width: 950px) {
    .popular-goods__pic {
        height: 250px;
    }
  }
 
@media screen and (max-width: 720px) {
    .popular-goods__pic {
        height: 173px;
    }
  }
  

.popular-goods__container-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
    color: #181818;
}
.popular-goods__container-price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px; 
    color: #181818;
}
.popular-goods__container-btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
   
}
.popular-goods__button {
    background-color: #DF5330;
    color: #fff;
    /*width: 199px;*/width: calc(50% - 14px);
    height: 42px;
    border: none;
    border-radius: 7px;
    margin-right: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s ease;
    cursor: pointer;
}

.popular-goods__button:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

.popular-goods__button:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 720px) {
    .popular-goods__button {
        width: 85px;
        height: 23px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        width: calc(50% - 5px);
        margin-right: 10px;
    }
  }

  .popular-goods__link {
    background-color: #DF5330;
    color: #fff;
    /*width: 199px;*/width: calc(50% - 14px);
    height: 42px;
    border: none;
    border-radius: 7px;
    margin-right: 27px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    transition: 0.3s ease;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.popular-goods__link:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}

@media screen and (max-width: 720px) {
    .popular-goods__link {
        width: 85px;
        height: 23px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        margin-right: 10px;
        width: calc(50% - 5px);
    }
  }

.popular-goods__link-text {
    margin: 0;
    color: #fff;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .popular-goods__link-text {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
  }  