.bag-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 1s, opacity 1s;
  box-sizing: border-box;
  overflow:auto;
}

.bag-popup_opened {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    visibility: visible;
    opacity: 1;
    transition: visibility 1s, opacity 1s;
    z-index: 15;
}

.bag-popup__container {
    position: absolute;
    top:130px;
    /*left: 25%;*/
    display: flex;
    flex-direction: column;
    width: 560px;
    padding: 40px;
    background-color: #fff;
    /*position: relative;
    margin-top: 174px;*/
  }

  @media screen and (max-width: 1000px) {
    .bag-popup__container {
        top: 100px;
    }
  }
  
  @media screen and (max-width: 720px) {
    .bag-popup__container {
        width: 390px;
        top: 50px;
    }
  }

  @media screen and (max-width: 550px) {
    .bag-popup__container {
        padding-left: 15px;
        padding-right: 15px;
    }
  }

  @media screen and (max-width: 485px) {
    .bag-popup__container {
        width: 300px;
    }
  }

.bag-popup__closebtn {
    position: absolute;
    top: -25px;
    right: -25px;
    width: 22px;
    height: 22px;
    background-image: url(../../images/Close_Icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    border: none;
    background-color: transparent;
    opacity: 1;
    transition: 0.3s ease;
}

.bag-popup__closebtn:hover{
  opacity: 0.3;
  transition: 0.3s ease;
}

@media screen and (max-width: 400px) {
    .bag-popup__closebtn {
        top: -30px;
        right: 0;
    }
  }

.bag-popup__title {
    margin: 0;
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.bag-popup__input {
    width: 100%;
    height: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #181818;
}

@media screen and (max-width: 720px) {
    .bag-popup__input {
        margin-top: 10px;
        margin-bottom: 10px;
    }
  }


.bag-popup__button {
    width: 100%;
    background-color: transparent;
    color: #181818;
    border: 1px solid #181818;
    height: 55px;
    border-radius: 7px;
    margin-top: 30px;
}

.bag-popup__goods-list {
    padding: 0;
}

.bag-popup__good {
    list-style-type: none;
    height: 102px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 34px;
}

.bag-popup__good:last-of-type{
    margin-bottom: 0;
}
/*
@media screen and (max-width: 720px) {
    .bag-popup__good {
        flex-direction: column;
    }
  }*/

.bag-popup__good-desctiption-container {
    display: flex;
    flex-direction: column;
    width: 142px;
    margin-right: 20px;
    align-items: start;
}

.bag-popup__good-name {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #181818;
    margin: 0;
    text-align: start;
}

@media screen and (max-width: 720px) {
    .bag-popup__good-name {
        font-size: 14px;
        line-height: 17px;
    }
  }

.bag-popup__good-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.bag-popup__good-price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-right: 35px;
}

@media screen and (max-width: 720px) {
    .bag-popup__good-price {
        margin-right: 25px;
    }
  }

.bag-popup__good-delete-btn {
    background-image: url(../../images/deletebtn.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.bag-popup__good-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: fill;
    /*background-color: grey;*/
}

.bag-popup__good-img-container {
    width: 102px;
    height: 102px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

@media screen and (max-width: 720px) {
    .bag-popup__good-img-container {
        width: 65px;
        height: 65px;
        margin-right: 15px;
    }
  }

.bag-popup__good-price-container {
    display: flex;
    justify-content: space-between;
    width: 186px;
    align-items: center;
}

@media screen and (max-width: 720px) {
    .bag-popup__good-price-container {
        width: 150px;
        /*position: absolute;
        bottom: 0;
        right: 0;*/
    }
  }

.bag-popup__item-increament-container {
    display: flex;
    justify-content: space-between;
    width: 39px;
    height: 17px;
    margin-right: 35px;
}

@media screen and (max-width: 720px) {
    .bag-popup__item-increament-container {
        margin-right: 25px;
    }
  }

.bag-popup__item-increament {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.bag-popup__item-decrement {
    padding: 0;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.bag-popup__sum {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    align-self: flex-end;
    margin-top: 30px;
    margin-bottom: 50px;
}

.bag-popup__input-span {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

@media screen and (max-width: 720px) {
    .bag-popup__input-span {
        font-size: 18px;
        line-height: 22px;
    }
  }

.bag-popup__input-sum {
    align-self: flex-end;
    margin: 0;
    margin-bottom: 15px;
    margin-top: 100px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 720px) {
    .bag-popup__input-sum {
        margin-top: 57px;
    }
  }

.bag-popup__input-sum-after-promocod {
    align-self: flex-end;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.bag-popup__form {
    display: flex;
    flex-direction: column;
}

.bag-popup__item-count {
    min-width: 10px;
    border: none;
    text-align: center;
}

.bag-popup__promocode-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.bag-popup__input-and-span {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.bag-popup__promocode-span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

@media screen and (max-width: 720px) {
    .bag-popup__promocode-span {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
  }

.bag-popup__input-promocode {
  height: 55px;
  margin-top: 20px;
  padding: 0;
  padding-left: 5px;
  border: 1px solid #181818;
}

@media screen and (max-width: 720px) {
  .bag-popup__input-promocode {
      margin-top: 10px;
  }
}

.bag-popup__btn-check-promocode {
    width: 45%;
    height: 55px;
    border-radius: 8px;
    border: none;
    color: #fff;
    background-color: #DF5330;
    align-self: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}
@media screen and (max-width: 720px) {
    .bag-popup__btn-check-promocode {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    }
  }
.bag-popup__promocode-luck-message {
    margin-bottom: 10px;
}

.bag-popup__promocode-err-message {
    color: rgb(227, 61, 61);
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
 }

 .bag-popup__button_active {
    background-color: #DF5330;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .bag-popup__button_active:hover {
    opacity: 0.5;
    transition: 0.3s ease;
}