.equipmentNav {
    width: 287px;
    height: 254px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    /*margin-right: 40px;*/
    margin-top: 0;
    background-color: #DF5330;
}

@media screen and (max-width: 1100px) {
    .equipmentNav {
        width: 250px;
    }
  }

.equipmentNav__item {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #fff;
    list-style-type: none;
    margin-bottom: 20px;
    margin-top: 0;
    cursor: pointer;
}

.equipmentNav__item:last-of-type {
    margin-bottom: 0;
}