.equipmentList {
    max-width: 1033px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /*grid-template-columns: repeat(auto-fit, minmax(173px, 1fr));
    grid-template-rows: auto;*/
    gap: 17px;
    padding: 0;
    /*margin: auto;*/
    margin-left: 40px;
    margin-right: 40px;
    border: 2px solid palegreen;
    box-sizing: border-box;
}

@media screen and (max-width: 900px) {
    .equipmentList {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 712px) {
    .equipmentList {

        margin-left: 15px;
        margin-right: 15px;
    }
  }  

.equipmentList__item{
    list-style-type: none;
    border: 2px solid palegreen;
    /*max-width: 333px;
    max-height: 400px;*/
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.equipmentList__item-pic {
    object-fit: cover;
    max-width: 100%;

}

.equipmentList__item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.equipmentList__item-star-container {
    width: 144px;
    height: 15px;
    border: 1px solid fuchsia;
    display: flex;
}
.equipmentList__item-price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}
.equipmentList__item-bag-container {
    width: 86px;
    height: 23px;
    border: 1px solid palevioletred;
}
.equipmentList__item-bag {

}
.equipmentList__item-increament {

}

.equipmentList__item-wrapper {
    display: flex;
    justify-content: space-between;
}

.equipmentList__item-star {
    background-image: url(../../images/Star.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}