.equipmentList {
    max-width: 1033px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 17px;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    margin-right: 40px;
    box-sizing: border-box;
}
@media screen and (min-width: 1441px) {
    .equipmentList {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        max-width: 1600px;
    }
}
@media screen and (max-width: 900px) {
    .equipmentList {
        grid-template-columns: 1fr 1fr;
    }
  }

  @media screen and (max-width: 720px) {
    .equipmentList {
        margin-left: 15px;
        margin-right: 15px;
    }
  }  

  @media screen and (max-width: 250px) {
    .equipmentList {
        grid-template-columns: 1fr;
    }
  }  

.equipmentList__item{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.equipmentList__item-pic-link {
    max-width: 100%;
    height: 333px;
    cursor: pointer;  
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 1150px) {
    .equipmentList__item-pic-link {
        height: 300px;
    }
}
 
@media screen and (max-width: 720px) {
    .equipmentList__item-pic-link {
       height: 200px;
    }
  }

  @media screen and (max-width: 450px) {
    .equipmentList__item-pic-link {
        height: 173px;
    }
  }  

  @media screen and (max-width: 420px) {
    .equipmentList__item-pic-link {
        height: 150px;
    }
  } 

  @media screen and (max-width: 400px) {
    .equipmentList__item-pic-link {
        height: 130px;
    }
  }

.equipmentList__item-pic {
    align-self: center;
    max-width: 100%;
    max-height: 100%;
   /* object-fit:cover;*/
   object-fit: fill;
}

/*
.equipmentList__item-pic {
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .equipmentList__item-pic {
        height: 300px;
    }
}
 
@media screen and (max-width: 720px) {
    .equipmentList__item-pic {
        height: 173px;
    }
  }
*/
.equipmentList__item-main-container {
    height: 83px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.equipmentList__item-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;  
    margin-bottom: 10px;  
    margin-left: 5px;
    /*height: 32px;
    max-width: 188px;*/
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-title {
        font-size: 10px;
        line-height: 12px;
    }
  }

@media screen and (max-width: 420px) {
    .equipmentList__item-title {
      height: 24px;
    }
  }  

.equipmentList__item-star-container {
    max-width: 128px;
    height: 15px;
    display: flex;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-star-container {
        max-width: 130px;
    }
}
.equipmentList__item-price {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin: 0;
    margin-left: 5px;
    display: flex;
    align-items: flex-end;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-price {
        font-size: 10px;
        line-height: 12px;
    }
}

.equipmentList__item-bag-container {
    max-width: 86px;
    height: 23px;
    display: flex;
    justify-content:end;
    margin-left: 5px;
    margin-right: 5px;
}

@media screen and (max-width: 450px) {
    .equipmentList__item-bag-container {
        max-width: 50px;
    }
}

.equipmentList__item-bag {
    background-image: url(../../../images/blackbag.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 24px;
    height: 23px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-self: flex-end;
}

.equipmentList__item-bag:hover {
    opacity: 0.5;
}

.equipmentList__item-added-in-bag {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: #DF5330;
    display: flex;
    align-self: flex-end;
    color: #fff;
    text-align: center;
    justify-content: center;
    align-items: center;
}
/*
@media screen and (max-width: 720px) {
    .equipmentList__item-bag {
        width: 12px;
        height: 12px;
        background-image: url(../../../images/blacksmallbag.png);
        align-items: flex-end;
    }
}*/

.equipmentList__item-wrapper {
    display: flex;
    justify-content: space-between;
}

.equipmentList__item-wrapper-star {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-wrapper-star {
        flex-direction: column;
    }
}

.equipmentList__item-star {
    background-image: url(../../../images/Star.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-star {
        width: 8px;
        height: 8px;
        margin-right: 1px;
    }
}

.equipmentList__item-estimation {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;  
    margin-right: 7px;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-estimation {
        font-size: 10px;
        line-height: 12px;
    }
}

.equipmentList__item-estimation:last-of-type {
    margin-right: 0;
    margin-left: 5px;
}

.equipmentList__item-increament-container {
    display: flex;
    width: 39px;
    justify-content: space-between;
    align-items: center;
}

.equipmentList__item-increament {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.equipmentList__item-increament:hover {
    opacity: 0.5;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-increament {
        font-size: 10px;
        line-height: 12px;
    }
}

.equipmentList__item-count {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-count {
        font-size: 10px;
        line-height: 12px;
    }
}

.equipmentList__item-decrement {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.equipmentList__item-decrement:hover {
    opacity: 0.5;
}

@media screen and (max-width: 720px) {
    .equipmentList__item-decrement {
        font-size: 10px;
        line-height: 12px;
    }
}
